/* Links */

p a {
  color: #000;
  text-decoration: none;
  position: relative;
}

p a:after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0px;
  height: 2px;
  width: 100%;
  background-color: #D56969;
}

/* Navigation */

.primary-navigation {
  z-index: 99;
  position: relative;
}

.primary-navigation__links {
  padding: 40px 15px;
}

.primary-navigation__links-single {
  text-decoration: none;
  line-height: 1.6;
  display: inline-block;
  padding: 0 15px;
}

.primary-navigation__links-single a {
  text-decoration: none;
  color: #000;
}

/* Blog */

.blog {
  height: 100%;
	width: 100%;
}

.blog-inner {
  position: relative;
  margin-top:60px;
  max-width:1700px;
}

.post-list {
  display: flex;
  align-content: flex-start;
  max-width: 990px;
  width:100%;
  margin-left: 10%;
  flex-flow: row wrap;
  justify-content: space-around;

}

.blog-side {
  width:50%;
  position: absolute;
  bottom: 0;
  right: 0;
  top:-215px;
  background-color:#F8F8F8;
  z-index: -1;
}

.blog-side__content {
  position: absolute;
  right: 10%;
  top:225px;
  width: 260px;
  z-index: 1;
}

.blog-side__content h1 {
  font-weight: 700;
  font-size: 2em;
  padding-bottom: 30px;
}

.blog-side__content p {
  font-size: 1em;
  padding: 5px 0;
  line-height: 1.5
}

.blog-card {
  width:340px;
  display: inline-block;
  margin: 15px;
  padding-bottom: 30px;
}

.blog-card h2 {
  font-weight: 500;
  font-size: 28px;
  padding: 15px;
  color:#000;
  line-height: 1.5;
}

.blog-card__header {
  height: 200px;
  width:100%;
  background-size: cover;
  background-position: center;
}

.single-post .container {
  max-width: 770px;
}

.single-post p {
  padding: 5px 0;
  line-height: 1.5;
}

.single-post h1 {
  margin-bottom: 30px;
}

.single-post h2,
.single-post h3 {
  margin-bottom: 20px;
}

.single-post__header {
  text-align: center;
  padding: 100px 0 40px 0;
}

.single-post__header p {
  font-size: 1em;
  padding: 20px 5%;
  color: #555;
}

.single-post__header h1{
    background-color: #fff;
    font-weight: 600;
    font-size: 2.5em;
    margin-bottom: 0;
}

.featured-image {
  display: block;
  margin: 0 auto;
}

.single-post .post-content {
  padding: 60px 0;
}

.single-post a {
  color: #000;
  text-decoration: none;
  position: relative;
}

.single-post a:after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0px;
  height: 2px;
  width: 100%;
  background-color: #D56969;
}

.single-post h2 {
  font-weight: 600;
  font-size: 2.2em;
}

.single-post h3 {
  font-weight: 600;
  font-size: 1.7em;
}


@media(max-width:400px) {
  .blog-card {
    width:100%;
  }
}

@media(max-width:1040px){
  .blog-side {
    width:100%;
    position: relative;
  }

  .post-list{
    margin: 0 auto;
  }
}

@media(max-width: 1500px) {
  .post-list {
    max-width:790px
  }
}

/* Home */

.home {
  width: 100%;
  height: 100%;
}

.home-container {
  display: flex;
  flex-direction: row;
  min-height: 600px;
  max-height: 80vh;
  overflow: hidden;
}

.home-content {
  order: 1;
  width: 60%;
  display: flex;
  align-items: stretch;
}

.home-work {
  order: 2;
  width: 40%;
  bottom: 0px;
  right: 0;
  height:90%;
  overflow: scroll;
}

.home-main {
  padding-left: 40px;
  align-self: flex-end;
}

.home-main__content {
  bottom: 40px;
  left: 40px;
}

.home-main h1 {
  font-size: 28px;
  font-weight: 300;
  padding-right: 40%;
  line-height: 1.5;
  padding-bottom: 10px;
}

.home-main__social {
  margin-left: -15px;
}

.home-main__social-entry {
  display: inline-block;
  padding: 15px;
  font-size: 18px;
}

.home-main__social-entry a {
  color: #D56969;
}


.work-card {
  height: 300px;
  width: 100%;
  background-color: #555;
  color: #FFF;
  margin: 15px 0;
  position: relative;
}

.work-card__list li:nth-last-of-type(1){
  margin: 0;
}

.work-card__content {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.work-card__title {
  font-size: 18px;
}

.work-card__title span {
  font-weight: 200;
}


/* Footer */

.footer {
  padding: 50px 0;
}



/* Animations */

.blog-side {
  transition: 1s;
  transition-timing-function: cubic-bezier(0,0,.58,1);
}

.blog-appear {
  transform: translateY(-100%);
  opacity: 0;
}

.blog-appear .blog-active {
  opacity: 1;
  transform: translateY(0%);
}

.post-list {
  transition: 1s;
  transition-timing-function: cubic-bezier(0,0,.58,1);
}

.posts-main-appear {
  transform: translateY(100%);
  opacity: 0;
}

.posts-main-appear .posts-main-active {
  opacity: 1;
  transform: translateY(0%);
}
