/* Links */

p a {
  color: #000;
  text-decoration: none;
  position: relative;
}

p a:after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0px;
  height: 2px;
  width: 100%;
  background-color: #D56969;
}

/* Navigation */

.primary-navigation {
  z-index: 99;
  position: relative;
  text-align: center;
}

.primary-navigation__links {
  padding: 40px 15px;
}

.primary-navigation__links-single {
  text-decoration: none;
  line-height: 1.6;
  display: inline-block;
  padding: 0 25px;
}

.primary-navigation__links-single a {
  text-decoration: none;
  color: #000;
  font-family: 'Inconsolata', monospace;

}

.dark .primary-navigation__links-single a {
  color: #FFF;
}

/* Blog */

.blog-body {
  background-color: #F4F4F4;
}

.blog {
  height: 100%;
	width: 100%;
  margin-top: 150px;
}

.post-list {
  display: flex;
  flex-flow: row wrap;
}

.post-list > * {
  flex: 1 100%;
  padding: 15px;
}

.blog-card {
  flex: 1 0 30%;
  padding-bottom: 30px;
  max-width:31%;
}


.blog-card__featured {
  width: 100%;
  flex: 0 1 100%;
  position: relative;
  margin-bottom: 40px;
}

.blog-card__featured .blog-card__header {
  height: 350px;
  width: 80%;
  overflow: hidden;
}

.blog-card__featured .blog-card__header img {
  transform: scale(1);
  transition: 3s;
  width:100%;
}

.blog-card__featured:hover img {
  transform: scale(1.15);
    transition: 10s;
}


.blog-card__featured h2 {
  position: absolute;
  font-size: 1.85rem;
  line-height: 1.4;
  color: #000;
  right: 0;
  top:0;
  padding: 40px;
  background-color: #F4F4F4;
  max-width: 400px;
}

.blog-card a{
  text-decoration: none;
}

.blog-card h2 {
  font-weight: 400;
  font-size: 1.85rem;
  padding: 15px 0;
  color:#000;
  line-height: 1.4;
  text-decoration: none;
  opacity: 1;
  transition: .25s;
}

.blog-card__header {
  height: 200px;
  overflow: hidden;
}

.blog-card .blog-card__header img {
  transform: scale(1.2);
  width: auto;
  max-width:110%;
  transition: 3s;
  height: auto;
}

.blog-card:hover img {
  transform: scale(1.3);
    transition: 8s;
}

.blog-card:hover h2 {
  opacity: .6;
}

.button-load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #000;
  padding: 15px 35px;
  font-size: 14px;
  font-weight: 600;
  background: transparent;
  font-family: 'Inconsolata', monospace;

}

.button-load-more:disabled {
  opacity: .4;
  color: #000;
  cursor: not-allowed;
}

.loading-more-posts {
  display: block;
  padding: 15px;
  text-align: center;
  width:100%;
}

@media(max-width:991px) {
  .blog-card {
    flex: 1 0 50%;
    max-width: calc(50% - 30px);
  }
}

@media(max-width: 600px) {

  .blog {
    margin-top: 50px;
  }

  .blog-card__featured .blog-card__header{
    height: auto;
    width:100%;
  }

  .blog-card__featured h2 {
    background-color: transparent;
    position: relative;
    padding: 20px 0;
    font-size: 1.6rem;
  }

  .blog-card {
    display: block;
    padding-bottom: 30px;
    max-width:100%;
    width:100%;
    flex: auto;
  }

  .blog-card h2 {
    font-size: 1.6rem;
  }

}




/* Single post */

.single-post {
  background-color: #F4F4F4;
}


.single-post .container {
  max-width: 770px;
}

.single-post--content p {
  padding: 5px 0;
  line-height: 1.5;
}

.single-post--content h1 {
  margin-bottom: 30px;
}

.single-post--content h2,
.single-post--content h3,
.single-post--content h4,
.single-post--content h5,
.single-post--content h6 {
  padding: 30px 0 20px 0;
  font-weight: 600;
}

/*.single-post--content h2 {
  font-weight: 600;
}

.single-post--content h3 {
  font-weight: 600;
}*/

.single-post--content img {
  max-width:100%;
  height: auto;
  margin: 30px 0;
}

.single-post--content iframe {
  margin: 30px 0;
}

.single-post--content ul li {
  font-family: 'Inconsolata', monospace;
}

.single-post__header {
  text-align: center;
  padding: 100px 0 40px 0;
}

.single-post__header p {
  font-size: 1em;
  padding: 20px 5%;
  color: #555;
}

.single-post__header h1{
    font-weight: 600;
    font-size: 2.5em;
    margin-bottom: 0;
}

.featured-image {
  display: block;
  margin: 0 auto;
  margin-top:-18px;
  width:75%;
  transition: .25s;
}

.single-post .post-content {
  padding: 60px 0;
}

.single-post--content a {
  color: #000;
  text-decoration: none;
  position: relative;
  font-weight: 600;
}

.single-post--content a:after {
  display: none;
}

.single-post--content blockquote {
    margin: 30px 0 30px 50px;
    border-left: 6px solid #fff;
    padding-left: 30px;
}

.single-post--content blockquote p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;
  color: #787b7c;
}

.single-post--content .fluid-vids {
  margin-bottom: 70px;
}

.single-post--content pre {
  /*padding: 30px;
  margin: 15px;
  background-color: #fff;
  border-left: 3px solid #000;*/
}

pre[class*="language-"] {
    background: #fff;
    position: relative;
    margin: 30px 0;
}

pre[class*="language-"] {
    padding-top: 70px;
}

pre .toolbar {
  position: absolute;
  top: 0;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  left: 0;
  width: 100%;
}

.single-post--content li {
  list-style-type: circle;
  padding: 10px 0px;
}

.single-post--content ul {
  margin-left: 40px;
}

.single-post--content ul > ul {
  margin-left: 20px;
}




@media(max-width:400px) {
  .blog-card {
    width:100%;
  }
}

@media(max-width: 900px) {
  .featured-image {
    width:100%;
  }
}



/* Home */

.home-body {
  background: #000000;
}

.home {
  width: 100%;
  height: 100%;
  color: #95989A;
}

.home a:after {
  display: none;
}

.home-content {
  width: 100%;
  height: 100%;
  color: #FFF;
  text-align: center;
  position: relative;
  -ms-transform: translate(-50%, -50%);
  height: 82vh;
}

.home-work {
  order: 2;
  bottom: 0px;
  right: 0;
  overflow: scroll;
  position: absolute;
  bottom: -15px;
}

.home-main {
  position: absolute;
  width:100%;
  max-width: 970px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-main__content {
  bottom: 40px;
  left: 40px;
}

.home-main h1 {
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 50px;
}

.home-main a {
  color: #fff;
  text-decoration: none;
}

.home-main p {
  font-family: 'Inconsolata', monospace;
  color: #95989A;
}

.home-main__social {
  margin-left: -15px;
}

.home-main__social-entry {
  display: inline-block;
  padding: 15px;
  font-size: 18px;
}

.home-main__social-entry a {
  color: #D56969;
}


.work-card {
  height: 300px;
  width: 100%;
  background-color: #555;
  color: #FFF;
  margin: 15px 0;
  position: relative;
}

.work-card__list {
  margin-bottom: -15px;
}

.work-card__list li:nth-last-of-type(1){
  margin: 0;
}

.work-card__content {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.work-card__title {
  font-size: 18px;
}

.work-card__title span {
  font-weight: 200;
}

.simple-post-list {
  padding-bottom: 100px;
}

.simple-post-list .heading {
  padding-bottom: 45px;
  font-size: 20px;
  padding-left: 10px;
}

.simple-post-list__main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.simple-blog-card {
  width: 30%;
}

.simple-blog-card:nth-child(2) {
  padding: 0 30px;
}

.simple-blog-card a {
  text-decoration: none;
}

.simple-blog-card h4 {
  color:#fff;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 15px;
  line-height: 1.2;
}

.simple-blog-card p {
  font-family: 'Inconsolata', monospace;

  font-size: 16px;
  color: #95989A;
  line-height: 1.3;
}

@media(max-width:768px) {

  .home-main {
    padding: 0 30px;
    position: relative;
  }

  .simple-post-list {
    padding: 0 30px;
  }

  .simple-blog-card {
    width: 100%;
  }

  .simple-blog-card:nth-child(2) {
    padding: 40px 0;
  }

  .simple-post-list .heading {
    padding-left: 5px;
  }
}



/* Footer */

.dark .footer {
  color:#fff;
}

.dark .footer a {
  color:#fff;
}

.home-body .footer {
  display: none;
  visibility: hidden;
}

.footer {
  margin-top: 60px;
}

.footer .container{
  padding: 70px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer a {
  font-weight: 600;
}

.footer a:after {
  display: none;
}

.footer .column {
  width: 50%;
}

.footer-social {
  float: right;
}

.footer-social li {

}

.footer-social li a {
  padding: 15px;
  color: #000;
  font-size: 18px;
}

@media(max-width:768px) {

  .footer .container{
    display: block;
    text-align: center;
    width:100%;
  }

  .footer .column {
    width:100%;
    padding: 30px 0;
  }

  .footer-social {
    float: none;
    margin-left: -15px;
  }
}



/* Animations */

.blog-side {
  transition: .7s;
  transition-timing-function: cubic-bezier(0,0,.58,1);
}

.blog-appear {
  transform: translateY(-50%);
  opacity: 0;
}

.blog-appear .blog-active {
  opacity: 1;
  transform: translateY(0%);
}


.loader {
  transition: .7s;
}

.loader-active {
  opacity: 1;
}

.loader-leave {
  opacity: 0;
}


/* Loader */

.loader {
  height: 100vh;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#000;
  text-align: center;
  z-index: 100;
}

.loader img {
  width:70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  color: #fff;
}


/* About */

.about-body {
  background-color:#000;
  color:#fff;
}

.about-main {
  margin-top:90px;
  display: inline-block;
  width: 68%;
}

.about-main .heading {
  font-size: 32px;
  margin-bottom: 50px;
}

.about-main__content {
  padding-right: 30%;
}

.about-image {
  display: inline-block;
  float: right;
  width: 30%;
  position: absolute;
  right: 0;
  top:200px;
}

.about-image img {
  max-width: 100%;
}

.timeline {
  margin: 70px 0;
  padding: 40px 100px 0;
  position: relative;
}

.timeline:before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  width: 120px;
  background-color:#191919;
  z-index:-1;
}

.timeline-event {
  display: table;
  padding: 20px 0;
}

.timeline-event date {
  display: table-cell;
  font-weight: 700;
  padding-right: 20px;
  font-size: 18px;
}

.timeline-event p {
  display: table-cell;
}


@media(max-width: 768px) {

  .about-main {
    width:auto;
    padding: 0 30px;
  }

  .about-main__content {
    padding-right: 0;
  }

  .about-image {
    display: none;
  }

  .timeline {
    padding: 40px 0 0 100px;
    position: relative;
  }
}

@media(max-width: 500px) {
  .timeline {
    padding: 40px 0 0 30px;
  }
}
